
mixin App_Input
  ul.nav.nav-tabs
    li.active
      a(href='#tab__input__md', data-toggle='tab') Markdown
  .tab-content
    .tab-pane.active#tab__input__md
      textarea#input__md
      br
      button.btn(type='button', onclick='app.exports.input__md()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__md")') 
    br
    br
  
mixin App_Output
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a(href='#tab__output__html', data-toggle='tab') HTML
      li
        a(href='#tab__output__iframe', data-toggle='tab') Iframe
    .tab-content
      .tab-pane.active#tab__output__html
        textarea#output__html
        br
        button.btn(type='button', onclick='app.exports.output__html()') &#8595; Export
      .tab-pane#tab__output__iframe
        iframe#output__iframe