
mixin App_Input
  ul.nav.nav-tabs
    li.active
      a(href='#tab__input__js', data-toggle='tab') JavaScript
    li
      a(href='#tab__input__data', data-toggle='tab') Data
    li
      a(href='#tab__input__html', data-toggle='tab') HTML
  .tab-content
    .tab-pane.active#tab__input__js
      textarea#input__js
      br
      button.btn(type='button', onclick='app.exports.input__js()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__js")') 
      | &nbsp
      input#lint__input__js(type='checkbox', onchange='app.lints.input__js()', checked)
      | &nbspLint
    .tab-pane#tab__input__data
      textarea#input__data
      br
      button.btn(type='button', onclick='app.exports.input__data()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__data")') 
      | &nbsp
      input#lint__input__data(type='checkbox', onchange='app.lints.input__data()', checked)
      | &nbspLint
    .tab-pane#tab__input__html 
      textarea#input__html
      br
      button.btn(type='button', onclick='app.exports.input__html()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__html")') 
    br
    br
  
mixin App_Output
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a(href='#tab__output__iframe', data-toggle='tab') Iframe
      li
        a(href='#tab__output__error', data-toggle='tab') Error
    .tab-content
      .tab-pane.active#tab__output__iframe
        iframe#output__iframe
        br
        br
        button.btn(type='button', onclick='app.exports.output__iframe()') &#8595; Export
        br
        br
      .tab-pane#tab__output__error
        #output__error