
mixin App_Input
  ul.nav.nav-tabs
    li.active
      a(href='#tab__input__nosql', data-toggle='tab') NoSQL
  .tab-content
    .tab-pane.active#tab__input__nosql
      textarea#input__nosql
      br
      button.btn(type='button', onclick='app.exports.input__nosql()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__nosql")') 
      | &nbsp
      input#lint__input__nosql(type='checkbox', onchange='app.lints.input__nosql()', checked)
      | &nbspLint
      br
      br
  
mixin App_Output
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a(href='#tab__output__iframe', data-toggle='tab') Iframe
      li
        a(href='#tab__output__error', data-toggle='tab') Error
    .tab-content
      .tab-pane.active#tab__output__iframe
        iframe#output__iframe
        br
        br
        button.btn(type='button', onclick='app.exports.output__iframe()') &#8595; Export
        br
        br
      .tab-pane#tab__output__error
        #output__error