
mixin App_Input
  ul.nav.nav-tabs
    li.active
      a(href='#tab__input__babel', data-toggle='tab') Babel
  .tab-content
    .tab-pane.active#tab__input__babel
      textarea#input__babel
      br
      button.btn(type='button', onclick='app.exports.input__babel()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__babel")') 
      | &nbsp
      input#lint__input__babel(type='checkbox', onchange='app.lints.input__babel()')
      | &nbspLint
      br
      br
  
mixin App_Output
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a(href='#tab__output__js', data-toggle='tab') JavaScript
    .tab-content
      .tab-pane.active#tab__output__js
        textarea#output__js
        br
        button.btn(type='button', onclick='app.exports.output__js()') &#8595; Export
        | &nbsp
        input#lint__output__js(type='checkbox', onchange='app.lints.output__js()', checked)
        | &nbspLint
        br
        br