
mixin App_Input
  ul.nav.nav-tabs
    li.active
      a(href='#tab__input__sass', data-toggle='tab') Sass
  .tab-content
    .tab-pane.active#tab__input__sass
      textarea#input__sass
      br
      button.btn(type='button', onclick='app.exports.input__sass()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__sass")') 
      | &nbsp
      br
      br
  
mixin App_Output
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a(href='#tab__output__css', data-toggle='tab') CSS
    .tab-content
      .tab-pane.active#tab__output__css
        textarea#output__css
        br
        button.btn(type='button', onclick='app.exports.output__css()') &#8595; Export
        | &nbsp
        input#lint__output__css(type='checkbox', onchange='app.lints.output__css()', checked)
        | &nbspLint
        br
        br