
mixin App_Input
  ul.nav.nav-tabs
    li.active
      a(href='#tab__input__src', data-toggle='tab') Source
    li
      a(href='#tab__input__spec', data-toggle='tab') Spec
  .tab-content
    .tab-pane.active#tab__input__src 
      textarea#input__src
      br
      button.btn(type='button', onclick='app.exports.input__src()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__src")') 
      | &nbsp
      input#lint__input__src(type='checkbox', onchange='app.lints.input__src()', checked)
      | &nbspLint
    .tab-pane#tab__input__spec
      textarea#input__spec
      br
      button.btn(type='button', onclick='app.exports.input__spec()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__spec")')
      | &nbsp
      input#lint__input__spec(type='checkbox', onchange='app.lints.input__spec()', checked)
      | &nbspLint
    br
    br
  
mixin App_Output
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a(href='#tab__output__iframe', data-toggle='tab') Iframe
      li
        a(href='#tab__output__error', data-toggle='tab') Error
    .tab-content
      .tab-pane.active#tab__output__iframe
        iframe#output__iframe
        br
        br
        button.btn(type='button', onclick='app.exports.output__iframe()') &#8595; Export
        br
        br
      .tab-pane#tab__output__error
        #output__error