
include app-common.jade

.col-sm-12
  .col-sm-2
    ul.nav.nav-tabs.tabs-left
      li.active
        a(href='#tab__input', data-toggle='tab') Input
      li
        a(href='#tab__output', data-toggle='tab') Output
  .col-sm-10
    .tab-content
      #tab__input.tab-pane.active
        +App_Input
      #tab__output.tab-pane
        +App_Output