
mixin App_Input
  ul.nav.nav-tabs
    li.active
      a(href='#tab__input__jade', data-toggle='tab') Jade
    li
      a(href='#tab__input__framework', data-toggle='tab') Framework
    li
      a(href='#tab__input__schema', data-toggle='tab') Schema
    li
      a(href='#tab__input__helpers', data-toggle='tab') Helpers
  .tab-content
    .tab-pane.active#tab__input__jade 
      textarea#input__jade
      br
      button.btn(type='button', onclick='app.exports.input__jade()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__jade")') 
    .tab-pane#tab__input__framework
      textarea#input__framework
      br
      button.btn(type='button', onclick='app.exports.input__framework()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__framework")')
      | &nbsp
    .tab-pane#tab__input__schema
      textarea#input__schema
      br
      button.btn(type='button', onclick='app.exports.input__schema()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__schema")') 
      | &nbsp
      //-input#lint__input__schema(type='checkbox', onchange='app.lints.input__schema()', checked)
      //-| &nbspLint
    .tab-pane#tab__input__helpers
      textarea#input__helpers
      br
      button.btn(type='button', onclick='app.exports.input__helpers()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__helpers")')
      | &nbsp
    br
    br
  
mixin App_Output
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a(href='#tab__output__result', data-toggle='tab') Result
    .tab-content
      .tab-pane.active#tab__output__result
        textarea#output__result
        br
        button.btn(type='button', onclick='app.exports.output__result()') &#8595; Export
        br
        br