
include ../../main.jade
    
mixin App
  doctype html
  //-+License
  //-+Acknowledgment 
  html 
    head
      title RCX : CoffeeScript
      meta(http-equiv='content-type', content=',text/html; charset=UTF-8')
      +App_Style
      style
        include ../../../node_modules/codemirror/addon/lint/lint.css
    body 
      .container
        .row
          .col-xs-4.col-sm-3.col-md-2
            .nav
              button#run__manual.btn.btn-success(type='button', onclick='app.runs.input__cs()') &#x25BA; Run
              | &nbsp
              input#run__auto(type='checkbox', checked)
              | &nbspAutorun
          .col-xs-4.col-sm-3.col-md-2
            .nav
              button#save__manual.btn.btn-primary(type='button', onclick='app.save()') &#128190; Save
              | &nbsp
              input#save__auto(type='checkbox')
              | &nbspAutosave
          .col-xs-4.col-sm-3.col-md-2
            .nav
              button#load.btn.btn-warning(type='button', onclick='app.load()') &#x21bb; Load
          .col-xs-12.col-sm-3.col-md-6
            .nav
              #alt__text(style='float: right;') &nbspAlternative Layout
              input#alt__layout(type='checkbox', style='float: right;', onchange='app.altLayout()')
        br
        #app__layout.row
          include _layout/default.jade
          //-include layout/alt.jade 
      +App_Script 
      script
        include ../../../node_modules/js2coffee/dist/js2coffee.js
      script
        include ../../../bower_components/coffee-script/extras/coffee-script.js
      script
        include ../../../node_modules/codemirror/addon/lint/lint.js
      script
        include ../../../node_modules/codemirror/addon/lint/javascript-lint.js
      script
        include ../../../node_modules/codemirror/addon/lint/coffeescript-lint.js
      script
        include ../../../node_modules/codemirror/mode/coffeescript/coffeescript.js
      script
        include ../../../node_modules/coffeelint/lib/coffeelint.js
      script
        include ../../../node_modules/jshint/dist/jshint.js
      //- Examples
      +Jade_Js({ name: 'input__cs' })
        include:jadejs _example/_cs.jade
      //- Layouts
      +Jade_Js({ name: 'layout-default' })
        include:jadejs _layout/default.jade
      +Jade_Js({ name: 'layout-alt' })
        include:jadejs _layout/alt.jade
      script
        include:ls app.ls
  
+App