
include ../../main.jade
      
mixin App
  doctype html
  //-+License
  //-+Acknowledgment 
  html 
    head
      title RCX : AdminLTE
      +App_Style
      style
        include ../../../node_modules/codemirror/addon/lint/lint.css
    body 
      .container
        .row
          .col-xs-4.col-sm-3.col-md-2
            .nav
              button#run__manual.btn.btn-success(type='button', onclick='app.runs.input__html()') &#x25BA; Run
              | &nbsp
              input#run__auto(type='checkbox', checked)
              | &nbspAutorun
          .col-xs-4.col-sm-3.col-md-2
            .nav
              button#save__manual.btn.btn-primary(type='button', onclick='app.save()') &#128190; Save
              | &nbsp
              input#save__auto(type='checkbox')
              | &nbspAutosave
          .col-xs-4.col-sm-3.col-md-2
            .nav
              button#load.btn.btn-warning(type='button', onclick='app.load()') &#x21bb; Load
          .col-xs-12.col-sm-3.col-md-6
            .nav
              #alt__text(style='float: right;') &nbspAlternative Layout
              input#alt__layout(type='checkbox', style='float: right;', onchange='app.altLayout()')
        br
        #app__layout.row
          include _layout/default.jade
          //-include layout/alt.jade 
      +App_Script 
      script
        include ../../../node_modules/codemirror/addon/lint/lint.js
      script
        include ../../../node_modules/codemirror/addon/lint/css-lint.js
      script
        include ../../../node_modules/codemirror/addon/lint/javascript-lint.js
      script
        include ../../../node_modules/jshint/dist/jshint.js
      script
        include ../../../dist/_vendor/js/csslint.js
      //- Source (Bootstrap)
      +Jade_Js({ name: 'bootstrap-css' })
        include:jadejs _src/_bootstrap-css.jade
      +Jade_Js({ name: 'bootstrap-js' })
        include:jadejs _src/_bootstrap-js.jade
      +Jade_Js({ name: 'jquery' })
        include:jadejs _src/_jquery.jade
      //- Source (AdminLTE) : CSS
      +Jade_Js({ name: 'fontawesome' })
        include:jadejs _src/_fontawesome.jade
      +Jade_Js({ name: 'ionicons' })
        include:jadejs _src/_ionicons.jade
      +Jade_Js({ name: 'adminlte-css' })
        include:jadejs _src/_adminlte-css.jade
      +Jade_Js({ name: 'adminlte-skins-css' })
        include:jadejs _src/_adminlte-skins-css.jade
      //- Source (AdminLTE) : JS
      +Jade_Js({ name: 'jquery-slimscroll' })
        include:jadejs _src/_jquery-slimscroll.jade
      +Jade_Js({ name: 'fastclick' })
        include:jadejs _src/_fastclick.jade
      +Jade_Js({ name: 'adminlte-js' })
        include:jadejs _src/_adminlte-js.jade
      //- Examples
      +Jade_Js({ name: 'input__html' })
        include:jadejs _example/_html.jade
      +Jade_Js({ name: 'input__css' })
        include:jadejs _example/_css.jade
      +Jade_Js({ name: 'input__js' })
        include:jadejs _example/_js.jade
      //- Layouts
      +Jade_Js({ name: 'layout-default' })
        include:jadejs _layout/default.jade
      +Jade_Js({ name: 'layout-alt' })
        include:jadejs _layout/alt.jade
      script
        include:ls app.ls
      
+App