
mixin App_Input
  ul.nav.nav-tabs
    li.active
      a(href='#tab__input__ls', data-toggle='tab') LiveScript
  .tab-content
    .tab-pane.active#tab__input__ls
      textarea#input__ls
      br
      button.btn(type='button', onclick='app.exports.input__ls()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__ls")') 
      | &nbsp Mode 
      select#mode
        option(value='ls2js', selected) LiveScript to JS
        option(value='js2ls') JS to LiveScript
      br
      br
  
mixin App_Output
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a(href='#tab__output__js', data-toggle='tab') JavaScript
    .tab-content
      .tab-pane.active#tab__output__js
        textarea#output__js
        br
        button.btn(type='button', onclick='app.exports.output__js()') &#8595; Export
        | &nbsp
        input#lint__output__js(type='checkbox', onchange='app.lints.output__js()', checked)
        | &nbspLint
        br
        br