
mixin App_Input
  ul.nav.nav-tabs
    li.active
      a(href='#tab__input__sql', data-toggle='tab') SQL
    li
      a(href='#tab__input__builder', data-toggle='tab') Builder
  .tab-content
    .tab-pane.active#tab__input__sql
      textarea#input__sql
      br
      button.btn(type='button', onclick='app.exports.input__sql()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__sql")') 
      | &nbsp
    .tab-pane#tab__input__builder
      textarea#input__builder
      br
      button.btn(type='button', onclick='app.exports.input__builder()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__builder")') 
      | &nbsp&nbspMode&nbsp
      select#mode__input__framework(onchange='app.mode(this)')
        option(value='sqlite', selected) SQLite
        option(value='mysql') MySQL
        option(value='pg') PostgreSQL
        option(value='oracle') Oracle
      | &nbsp&nbsp
      button#build__manual.btn.btn-info(type='button', onclick='app.runs.input__builder()') &#x25BA; Build
      | &nbsp
      input#build__auto(type='checkbox')
      | &nbspAutobuild
      br
      br
  
mixin App_Output
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a(href='#tab__output__iframe', data-toggle='tab') Iframe
    .tab-content
      .tab-pane.active#tab__output__iframe
        iframe#output__iframe
        br
        br
        button.btn(type='button', onclick='app.exports.output__iframe()') &#8595; Export
      .tab-pane#tab__output__iframe__builder
        iframe#output__iframe__builder(style='display: none')