
include ../main.jade
        
mixin App
  doctype html
  //-+License
  //-+Acknowledgment 
  html 
    head
      title RCX : App
      +App_Style
      style
        include ../../node_modules/codemirror/addon/lint/lint.css
    body 
      .container
        .row
          .col-xs-4.col-sm-3.col-md-2
            .nav
              button#run__manual.btn.btn-success(type='button', onclick='app.runs.input__jade()') &#x25BA; Run
              | &nbsp
              input#run__auto(type='checkbox', checked)
              | &nbspAutorun
          .col-xs-4.col-sm-3.col-md-2
            .nav
              button#save__manual.btn.btn-primary(type='button', onclick='app.save()') &#128190; Save
              | &nbsp
              input#save__auto(type='checkbox')
              | &nbspAutosave
          .col-xs-4.col-sm-3.col-md-2
            .nav
              button#load.btn.btn-warning(type='button', onclick='app.load()') &#x21bb; Load
          .col-xs-12.col-sm-3.col-md-6
            .nav
              #alt__text(style='float: right;') &nbspAlternative Layout
              input#alt__layout(type='checkbox', style='float: right;', onchange='app.altLayout()')
        br
        #app__layout.row
          include _layout/app-default.jade
          //-include _layout/alt.jade 
      +App_Script 
      script
        include ../../dist/_vendor/js/jade.js
      script
        include ../../node_modules/codemirror/mode/jade/jade.js
      script
        include ../../node_modules/codemirror/mode/clike/clike.js
      script
        include ../../node_modules/codemirror/mode/ruby/ruby.js
      script
        include ../../node_modules/codemirror/mode/php/php.js
      script
        include ../../node_modules/codemirror/mode/livescript/livescript.js
      script
        include ../../node_modules/codemirror/mode/python/python.js
      script
        include ../../node_modules/codemirror/addon/lint/lint.js
      script
        include ../../node_modules/codemirror/addon/lint/json-lint.js
      script
        include ../../dist/_vendor/js/jsonlint.js
      //- Examples
      +Jade_Js({ name: 'input__jade' })
        include:jadejs _example/_jade.jade
      +Jade_Js({ name: 'input__framework' })
        //- Default (C#) : Change if you want
        include:jadejs _example/_asp.jade
      +Jade_Js({ name: 'input__schema' })
        include:jadejs _example/_schema.jade
      +Jade_Js({ name: 'input__helpers' })
        include:jadejs _example/_helpers.jade
      //- Layouts
      +Jade_Js({ name: 'layout-default' })
        include:jadejs _layout/app-default.jade
      +Jade_Js({ name: 'layout-alt' })
        include:jadejs _layout/app-alt.jade
      script
        include:ls app.ls
 
//-mixin App_Language
  select#mode__input__framework(onchange='app.mode(this)')
    option(value='csharp', selected) C#
    option(value='java') Java
    option(value='ruby') Ruby
    option(value='php') PHP
    option(value='livescript') Livescript
    option(value='python') Python
      
+App