
include ../main.jade

mixin App
  doctype html
  //-+License
  //-+Acknowledgment
  html
    head
      title RCX : App
      +App_Style
    body
      .container
        .row
          .col-sm-12
            .nav
              button#run__manual.btn.btn-success(type='button', onclick='app.run()') &#x25BA; Run
              | &nbsp
              input#run__auto(type='checkbox')
              | &nbspAutorun
        br
        .row
          .col-sm-6
            .nav-tabs-custom
              ul.nav.nav-tabs
                li.active
                  a(href='#tab__input__jade', data-toggle='tab') Jade
                li
                  a(href='#tab__input__aspnet', data-toggle='tab') ASP.NET
                li
                  a(href='#tab__input__rails', data-toggle='tab') Rails
                li
                  a(href='#tab__input__spring', data-toggle='tab') Spring
                li
                  a(href='#tab__input__laravel', data-toggle='tab') Laravel
                li
                  a(href='#tab__input__flask', data-toggle='tab') Flask
                li
                  a(href='#tab__input__express', data-toggle='tab') Express
                li
                  a(href='#tab__input__symfony', data-toggle='tab') Symfony
              .tab-content
                .tab-pane.active#tab__input__jade
                  textarea#input__jade
                .tab-pane#tab__input__aspnet 
                  textarea#input__aspnet
                .tab-pane#tab__input__rails
                  textarea#input__rails
                .tab-pane#tab__input__spring
                  textarea#input__spring
                .tab-pane#tab__input__laravel
                  textarea#input__laravel
                .tab-pane#tab__input__flask
                  textarea#input__flask
                .tab-pane#tab__input__express
                  textarea#input__express
                .tab-pane#tab__input__symfony
                  textarea#input__symfony
          .col-sm-6
            .nav-tabs-custom
              ul.nav.nav-tabs
                li.active
                  a(href='#tab__output__aspnet', data-toggle='tab') ASP.NET
                li
                  a(href='#tab__output__rails', data-toggle='tab') Rails
                li
                  a(href='#tab__output__spring', data-toggle='tab') Spring
                li
                  a(href='#tab__output__laravel', data-toggle='tab') Laravel
                li
                  a(href='#tab__output__flask', data-toggle='tab') Flask
                li
                  a(href='#tab__output__express', data-toggle='tab') Express
                li
                  a(href='#tab__output__symfony', data-toggle='tab') Symfony
              .tab-content
                .tab-pane.active#tab__output__aspnet 
                  textarea#output__aspnet
                .tab-pane#tab__output__rails
                  textarea#output__rails
                .tab-pane#tab__output__spring
                  textarea#output__spring
                .tab-pane#tab__output__laravel
                  textarea#output__laravel
                .tab-pane#tab__output__flask
                  textarea#output__flask
                .tab-pane#tab__output__express
                  textarea#output__express
                .tab-pane#tab__output__symfony
                  textarea#output__symfony
      +App_Script
      //-+Jade_Js({ name: 'html' })
        include:jadejs ../example/html.jade
      //-script
        include:ls app.ls

+App