
mixin App_Input
  ul.nav.nav-tabs
    li.active
      a(href='#tab__input__ruby', data-toggle='tab') Ruby
  .tab-content
    .tab-pane.active#tab__input__ruby
      textarea#input__ruby
      br
      button.btn(type='button', onclick='app.exports.input__ruby()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__ruby")') 
      | &nbsp
      br
      br
  
mixin App_Output
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a(href='#tab__output__iframe', data-toggle='tab') Iframe
      li
        a(href='#tab__output__js', data-toggle='tab') JavaScript
    .tab-content
      .tab-pane.active#tab__output__iframe
        iframe#output__iframe
        br
        button.btn(type='button', onclick='app.exports.output__iframe()') &#8595; Export
        | &nbsp
        br
        br
      .tab-pane#tab__output__js
        textarea#output__js
        br
        button.btn(type='button', onclick='app.exports.output__js()') &#8595; Export
        | &nbsp
        br
        br