
mixin App_Input
  ul.nav.nav-tabs
    li.active
      a(href='#tab__input__format', data-toggle='tab') Format
  .tab-content
    .tab-pane.active#tab__input__format 
      textarea#input__format
      br
      button.btn(type='button', onclick='app.exports.input__format()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__format")') 
      | &nbsp&nbspMode&nbsp
      select#mode__input__format(onchange='app.mode(this, "input__format")')
        option(value='json', selected) JSON 
        option(value='yaml') YAML 
        option(value='xml') XML
      | &nbsp&nbsp
      input#lint__input__format(type='checkbox', onchange='app.lints.input__format()', checked)
      | &nbspLint
      br
      br
  
mixin App_Output
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a(href='#tab__output__format', data-toggle='tab') Format (Convert)
    .tab-content
      .tab-pane.active#tab__output__format
        textarea#output__format
        br
        button.btn(type='button', onclick='app.exports.output__format()') &#8595; Export
        | &nbsp&nbspMode&nbsp
        select#mode__output__format(onchange='app.mode(this, "output__format")')
          option(value='json') JSON 
          option(value='yaml', selected) YAML 
          option(value='xml') XML
        | &nbsp&nbsp
        input#lint__output__format(type='checkbox', onchange='app.lints.output__format()')
        br
        br