
mixin App_Input
  ul.nav.nav-tabs
    li.active
      a(href='#tab__input__remark', data-toggle='tab') Remark
  .tab-content
    .tab-pane.active#tab__input__remark
      textarea#input__remark
      br
      button.btn(type='button', onclick='app.exports.input__remark()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__remark")') 
    br
    br
  
mixin App_Output
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a(href='#tab__output__iframe', data-toggle='tab') Iframe
    .tab-content
      .tab-pane.active#tab__output__iframe
        iframe#output__iframe
        br
        br
        button.btn(type='button', onclick='app.exports.output__iframe()') &#8595; Export