
include ../../main.jade
      
mixin App
  doctype html
  //-+License
  //-+Acknowledgment 
  html 
    head
      title RCX : SQL
      +App_Style
      style
        include ../../../node_modules/codemirror/addon/lint/lint.css
    body 
      .container
        .row
          .col-xs-4.col-sm-3.col-md-2
            .nav
              button#run__manual.btn.btn-success(type='button', onclick='app.runs.input__sql()') &#x25BA; Run
              | &nbsp
              input#run__auto(type='checkbox')
              | &nbspAutorun
          .col-xs-4.col-sm-3.col-md-2
            .nav
              button#save__manual.btn.btn-primary(type='button', onclick='app.save()') &#128190; Save
              | &nbsp
              input#save__auto(type='checkbox')
              | &nbspAutosave
          .col-xs-4.col-sm-3.col-md-2
            .nav
              button#load.btn.btn-warning(type='button', onclick='app.load()') &#x21bb; Load
          .col-xs-12.col-sm-3.col-md-6
            .nav
              #alt__text(style='float: right;') &nbspAlternative Layout
              input#alt__layout(type='checkbox', style='float: right;', onchange='app.altLayout()')
        br
        #app__layout.row
          include _layout/default.jade
          //-include layout/alt.jade 
      +App_Script
      script
        include ../../../dist/_vendor/js/lodash.js
      script
        include ../../../dist/_vendor/js/bluebird.js
      script
        include ../../../node_modules/knex/build/knex.js
      //-script
        include ../../../dist/_vendor/js/knex.js
      script
        include ../../../node_modules/sql.js/js/sql.js
      script
        include ../../../node_modules/codemirror/mode/sql/sql.js
      script
        include ../../../node_modules/codemirror/addon/lint/lint.js
      script
        include ../../../node_modules/codemirror/addon/lint/javascript-lint.js
      script
        include ../../../node_modules/jshint/dist/jshint.js
      //- Examples
      +Jade_Js({ name: 'input__sql' })
        include:jadejs _example/_sql.jade
      +Jade_Js({ name: 'input__builder' })
        include:jadejs _example/_builder.jade
      //- Layouts
      +Jade_Js({ name: 'layout-default' })
        include:jadejs _layout/default.jade
      +Jade_Js({ name: 'layout-alt' })
        include:jadejs _layout/alt.jade
      script
        include:ls app.ls
 
+App