
mixin App_Input
  ul.nav.nav-tabs
    li.active
      a(href='#tab__input__katex', data-toggle='tab') KaTeX
  .tab-content
    .tab-pane.active#tab__input__katex
      textarea#input__katex
      br
      button.btn(type='button', onclick='app.exports.input__katex()') &#8595; Export
      | &nbsp&nbsp
      span.btn.btn-default.btn-file &#8593; Import
        input(type='file', onchange='app.importer(this, "input__katex")') 
      | &nbsp
      br
      br
  
mixin App_Output
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a(href='#tab__output__result', data-toggle='tab') Result
    .tab-content
      .tab-pane.active#tab__output__result
        #output__result