
- window._ = {}

- window._.schema = {}

- window._.column = function (columns) {
-   var _columns = [];
-   for (var i=0; i < columns.length; i++) {
-     _columns.push(columns[i].type.toLowerCase() + ' ' + columns[i].name);
-   }
-   return _columns.join(', ');
- }

- window._.colObjToStr = function (columns) {
-   var _columns = [];
-   for (var i in columns) {
-     _columns.push(i);
-   }
-   return _columns.join(',');
- }

- window._.colObjToStrTyp = function (columns) {
-   var _columns = [];
-   for (var i in columns) {
-     _columns.push(window._.toTitleCase(columns[i].type) + ' ' + i);
-   }
-   return _columns.join(', ');
- }
 
- window._.set = function (name) {
-   var capitalizeFirstLetter = function (string) {
-     return string.charAt(0).toUpperCase() + string.slice(1);
-   }
-   var _name_split = name.split('_');
-   var _name = '';
-   for (var i=0; i < _name_split.length; i++) {
-     _name += capitalizeFirstLetter(_name_split[i]);
-   }
-   return _name;
- }

- window._.toTitleCase = function(str) {
-   return str.replace(/\w\S*/g, function(txt){
-     return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
- };