
+Controller({
    group: 'Employee',
    model: 'JobTitle',
    route: 'jobtitle',
    entity: 'JobTitles',
    column: {
      'job_title': {type: 'string'},
      'job_description': {type: 'string'},
    },
  })
  
//- Equivalent to:
//- +Controller( window._.schema.jobs ) 