  
mixin App_Script
  script var dmt = [];
  script
    include ../node_modules/jquery/dist/jquery.min.js
  script
    include ../bower_components/bootstrap/dist/js/bootstrap.min.js
  script
    include ../node_modules/codemirror/lib/codemirror.js
  script
    include ../dist/_vendor/js/FileSaver.min.js
  script
    include ../node_modules/moment/min/moment.min.js
  script
    include ../node_modules/localforage/dist/localforage.min.js
  //- Syntax Highlighting
  script
    include ../node_modules/codemirror/mode/css/css.js
  script
    include ../node_modules/codemirror/mode/javascript/javascript.js
  script
    include ../node_modules/codemirror/mode/xml/xml.js
  script
    include ../node_modules/codemirror/mode/htmlmixed/htmlmixed.js
  
mixin App_Style
  style
    include ../bower_components/bootstrap/dist/css/bootstrap.min.css
  style
    include:css(minify=true) ../node_modules/codemirror/lib/codemirror.css
  style
    include:css(minify=true) ../node_modules/codemirror/theme/blackboard.css
  style
    include ../bower_components/bootstrap-vertical-tabs/bootstrap.vertical-tabs.min.css
  style
    :css(minify=true)
      /*body { font-size: 13px; }*/
      .CodeMirror { width: 100%; height: 600px !important; }
      iframe, #output__error { width:  100%; height: 600px; border: 0px;  }
      .container { padding: 20px  20px  0px  20px; width: 100%; }
      .row { margin: 0px  0px  0px  0px; }
      [class*='col-lg-'], [class*='col-md-'], [class*='col-sm-'], [class*='col-xs-'] {
        padding: 0px  5px  0px  5px; }  
      .btn-file { position: relative; overflow: hidden; }
      .btn-file input[type=file] {
        position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; 
        font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0; 
        outline: none; background: white; cursor: inherit; display: block; }
      @media (max-width: 768px) { .container { padding: 10px  5px  5px  5px; width: 100%; }}

mixin App_Language
  //-

mixin Jade_Js(o)
  script
    | (function() {
    block
    | dmt["!{o.name}"] = template(); })();
    
mixin License
  //-

mixin Acknowledgement
  //-
