doctype html
html
  head
    style.
      #app {
        background: red;
        height: 50px;
        width: 50px;
      }
  body
    ul
      li
        a(href="#/") Home
      li
        a(href="#/som") Som
    #app